* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --color-letra: #000000;
  --tamanio-letra-botones: 18px;
  --border: 1px solid black;
  --radio: 8px;
  --color-fondo-boton-agregar: #008000de;
  --color-fondo-boton-editar: #0000ffdb;
  --color-fondo-boton-eliminar: #ff0000bc;
  --color-fondo: #ffffff;
  --tamanio-letra-titulo: 25px;
  --sombra: 1px 1px 3px 0px black;
}

.app {
  width: 100%;
}
.aviso{
  font-size: 20px;
  text-align: center;
}
.app_menu {
  width: 100%;
  background-color: rgb(150, 146, 146);
  box-shadow: var(--sombra);
  border-bottom: var(--border);
  border-bottom-left-radius: var(--radio);
  border-bottom-right-radius: var(--radio);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.menu_lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 95%;
}

.menu_item {
  height: 70%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu_logo {
  width: 60px;
  height: 100%;
  border-radius: 50%;
  background-image: url(../icon/logo-app-tarea.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--sombra);
}

.menu_slogan {
  font-size: 20px;
  font-weight: 600;
}

.slider {
  width: 76px;
  height: 45%;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--sombra);
  cursor: pointer;
  position: relative;
  background-color: #ffffff;

}

.rueda {
  height: 100%;
  width: 26px;
  border-radius: 50%;
  border: var(--border);
  background-color: rgb(0, 0, 255);
  position: absolute;
  left: 0px;
  top: 0px;
}

.icon {
  width: 30px;
  height: 100%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.icon_sol {
  background-image: url(../icon/icon-sol.svg);
}

.icon_luna {
  background-image: url(../icon/icon-luna.svg);
}

.app_container_f {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  gap: 10px;
  margin: auto;
  height: 90px;
}

.fecha {
  width: max-content;
  font-size: 19px;
}

.btn_reciclaje {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 10%;
  height: 35px;
  border-radius: var(--radio);
  background-color: rgba(128, 128, 128, 0.737);
  justify-content: space-around;
  border: none;
  box-shadow: var(--sombra);
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.icon_reciclaje {
  background-image: url(../icon/icon_reciclaje.svg);
}

.seccion {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  gap: 10px;
  height: 70vh;
}

.container_formulario {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.146);
  border-radius: var(--radio);
  box-shadow: var(--sombra);
  padding: 10px;
}

.titulo_nueva_tarea {
  font-size: 24px;
}

.formulario {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.selector_categoria {
  height: 40px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  box-shadow: var(--sombra);
  outline: none;
  border-radius: var(--radio);
  background-color: var(--color-fondo-boton-editar);
  color: white;
}

.input {
  box-shadow: var(--sombra);
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: var(--radio);
  transition: all 0.2s ease-in-out;
  outline: none;
  border: 2px solid green;

}

.input::placeholder {
  text-align: center;

}

.input:placeholder-shown {
  border: 2px solid blue;
}

.textarea {
  box-shadow: var(--sombra);
  height: 100px;
  max-height: 120px;
  width: 100%;
  max-width: 100%;
  font-size: 20px;
  border: 2px solid green;
  border-radius: var(--radio);
  outline: none;
}

.textarea:placeholder-shown {
  border: 2px solid blue;
}

.textarea::placeholder {
  text-align: center;
}


.icon_agrgegar_tarea {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../icon/icon-agregar-tarea.svg);
}

.btn_agregar_tarea {
  box-shadow: var(--sombra);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 160px;
  height: 35px;
  background-color: var(--color-fondo-boton-agregar);
  color: #ffffff;
  border-radius: var(--radio);
  font-size: var(--tamanio-letra-botones);
}

button {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px);
}

.container_tareas {
  flex-basis: 70%;
  background-color: rgba(128, 128, 128, 0.146);
  border-radius: var(--radio);
  box-shadow: var(--sombra);
  padding: 10px;
}

.btn_controles {
  font-size: 16px;
  height: 35px;
  flex-basis: 20%;
  border: none;
  border-radius: var(--radio);
  cursor: pointer;
  font-size: var(--tamanio-letra-botones);
  box-shadow: var(--sombra);
  background-color: blue;
  color: white;
}

.container_botones {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.btn_ver_categorias {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon_categoria {
  width: 30px;
  height: 30px;
  background-image: url(../icon/icon-categorias.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn_tareas_hechas {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon_hechas {
  width: 30px;
  height: 30px;
  background-image: url(../icon/icon-tareas-hechas.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selector_modo_vista_tarea {
  height: 35px;
  flex-basis: 20%;
  font-size: 17px;
  border-radius: var(--radio);
  text-align: center;
  outline: none;
  background-color: var(--color-fondo-boton-editar);
  color: white;
  box-shadow: var(--sombra);
}

select {
  cursor: pointer;
}

.container_titulos {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 35px;
}

.tareas {
  width: 100%;
  height: 370px;
  overflow: auto;
  display: flex;
  gap: 10px;
  padding: 10px 5px 10px 0px;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.tarea {
  border-radius: var(--radio);
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  max-height: 400px;
  box-shadow: var(--sombra);
  justify-content: space-around;
  background-color: rgba(150, 146, 146, 0.168);
  transition: background-color .6s;
}
.descripcion{
  max-height: 140px;
  overflow: auto;
}
.tarea:hover {
  background-color: rgba(0, 0, 0, 0.198);
}

.container_info {
  width: 100%;
}

.tarea_marcada {
  width: 20px;
  height: 20px;
}

.tarea_info {
  display: flex;
  align-items: center;
  flex-basis: 75%;
  gap: 20px;
}

.tarea_titulos_info {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.tarea_acciones {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-basis: 14%;
}

.btn_acciones {
  width: 100%;
  border-radius: var(--radio);
  border: none;
  flex-basis: 18%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn_editar_tarea {
  background-color: var(--color-fondo-boton-editar);
  color: white;
  box-shadow: 1px 1px 3px 0px black;
}

.btn_eliminar_tarea {
  background-color: var(--color-fondo-boton-eliminar);
  color: white;
  box-shadow: 1px 1px 3px 0px black;
}

.icon_acciones {
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  border-radius: 50%;
}

.icon_editar {
  background-image: url(../icon/icon-editar-tarea.svg);
}

.icon_eliminar {
  background-image: url(../icon/icon-eliminar-tarea.svg);
}

.menu_logo {
  animation-name: animacionLogo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
}

.app {
  position: relative;
}

/*MODAL */
.container_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.319);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 101;
  transition: opacity .4s;
  pointer-events: none;
}
.modal_mensaje {
  opacity: 0;
  z-index: 1001;
}
.modal_reciclaje{
  opacity: 0;
}


.modal_mensaje_tarea {
  height: 200px;
  text-align: center;
}

.modal_categorias_tareas {
  height: 350px;
}

.modal_editar {
  opacity: 0;
}

.modal_eliminar {
  opacity: 0;
}
.nota{
  margin-top: 10px;
}
.btn_modal_eliminar_tarea{
  display: flex;
  align-items: center;
  height: 35px;
  color: white;
  padding: 0px 5px;
  font-size: var(--tamanio-letra-botones);
  border: none;
  box-shadow: var(--sombra);
  border-radius: var(--radio);
  background-color: var(--color-fondo-boton-eliminar);
}
.icon_modal_eliminar_tarea{
  background-image: url(../icon/icon-eliminar-tarea.svg);
}
.modal_categorias {
  opacity: 0;
}

.mostrar_modal {
  opacity: 1;
  pointer-events: unset;
}

.modal {
  background-color: #ffffff;
  border-radius: var(--radio);
  position: relative;
  width: 30%;
  box-shadow: var(--sombra);
}
.container_info_reciclaje{
  background-color:white;
  width:60%;
  height:80%;
}
.titulo_modal_reciclaje{
  margin-top: 30px;
  text-align: center;
}
.container_reciclaje{
  width: 90%;
  margin: 30px auto;
  height: 400px;
  position: relative;
}
.container_btn_reciclaje{
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.caja_administracion{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.icon_menu_administracion{
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../icon/icon-menu-admin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.container_menu_reciclaje{
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}
.menu_administracion{
  position: absolute;
  width: 340px;
  background-color: rgba(150, 146, 146, 0.847);
  height: 340px;
  right:100%;
  box-shadow: var(--sombra);
  opacity: 0;
  pointer-events: none;
  border-radius: var(--radio);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 10px;
  justify-content: space-evenly;
}
.icon_btn_acciones_menu{
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_restablecer_tareas{
  background-color: var(--color-fondo-boton-editar);
}
.btn_restablecer_categorias{
  background-color: var(--color-fondo-boton-editar);
}
.btn_eliminar_tareas{
  background-color: var(--color-fondo-boton-eliminar);
}
.btn_eliminar_categorias{
  background-color: var(--color-fondo-boton-eliminar);
}
.btn_restablecer_todo{
  background-color: var(--color-fondo-boton-editar);
}
.btn_eliminar_todo{
  background-color: var(--color-fondo-boton-eliminar);
}

.icon_restablecer_tareas{
  background-image: url(../icon/icon-restaurar.svg);
}
.icon_restablecer_categorias{
  background-image: url(../icon/icon-restaurar.svg);
}
.icon_eliminar_tareas{
  background-image: url(../icon/icon-eliminar-tarea.svg);
}
.icon_eliminar_categorias{
  background-image: url(../icon/icon-eliminar-tarea.svg);
}
.icon_restablecer_todo{
  background-image: url(../icon/icon-restaurar.svg);
}
.icon_eliminar_todo{
  background-image: url(../icon/icon-eliminar-tarea.svg);
}
.btn_acciones_menu_reciclaje{
  flex-basis: 50%;
  height: 35px;
  border: none;
  border-radius: var(--radio);
  box-shadow: var(--sombra);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  gap: 5px;
}
.container_acciones_menu{
  width: 100%;
}
.container_botones_acciones{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.titulo_acciones{
  margin-bottom: 20px;
  color:#000000;
}
.mostrar_menu_reciclaje{
  opacity: 1;
  pointer-events: unset;
}
.info_tareas{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}
.btn_reciclaje_modal{
  flex-basis: 15%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  color: white;
  border-radius: var(--radio);
  box-shadow: var(--sombra);
  padding: 0px 5px;
  font-size: var(--tamanio-letra-botones);
  background-color: var(--color-fondo-boton-editar);

}
.icon_restaurar{
  background-image: url(../icon/icon-restaurar.svg);
}
.btn_restaurar_tarea{
  background-color: var(--color-fondo-boton-editar);
  box-shadow: var(--sombra);
}
.reciclaje{
  height: 250px;
  overflow: auto;
  width: 100%;
  max-height: 300px;
  border-radius: var(--radio);
  background-color: rgba(128, 128, 128, 0.146);
  box-shadow: var(--sombra);
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 5px;
  gap: 10px;
}

.icon_tareas{
  background-image: url(../icon/icon-tareas.svg);
}
.icon_categorias{
  background-image: url(../icon/icon-categorias.svg);
}
.pregunta {
  font-size: 20px;
}

.modal_eliminar_info {
  width: 80%;
  margin: auto;
  text-align: center;
}

.icon_salir {
  background-image: url(../icon/icon-salir-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.modal_mensaje_mensaje {
  width: 90%;
  margin: auto;
  font-size: 20px;
}

.modal_titulo {
  margin: 30px;
  text-align: center;
  font-size: 24px;
}

.formulario_editar {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.icon_modal_boton {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.icon_cancelar_tarea {
  background-image: url(../icon/icon-salir-modal.svg);
}

.icon_actualizar_tarea {
  background-image: url(../icon/icon-editar-tarea.svg);
}

.btn_cancelar_tarea {
  display: flex;
  height: 35px;
  flex-basis: 30%;
  background-color: var(--color-fondo-boton-editar);
  color: white;
  border: none;
  border-radius: var(--radio);
  align-items: center;
  justify-content: space-around;
  font-size: var(--tamanio-letra-botones);
  box-shadow: var(--sombra);
}

.btn_actualizar_tarea {
  display: flex;
  height: 35px;
  box-shadow: var(--sombra);
  flex-basis: 30%;
  background-color: var(--color-fondo-boton-agregar);
  color: white;
  border: none;
  border-radius: var(--radio);
  align-items: center;
  justify-content: space-around;
  font-size: var(--tamanio-letra-botones);
}

.container_botones_modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.formulario_categoria {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_categoria {
  flex-basis: 50%;
}

.btn_agregar_categoria {
  flex-basis: 40%;
}

.categorias {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: max-content;
  max-height: 160px;
  gap: 10px;
  overflow: auto;
  padding: 6px 3px;
}

.categoria {
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--radio);
  background-color: rgba(150, 146, 146, 0.168);
  justify-content: space-between;
  transition: background-color .6s;
  padding: 5px;
  box-shadow: var(--sombra);
}

.categoria:hover {
  background-color: rgba(0, 0, 0, 0.198);
}

.categoria_nombre {
  font-size: 18px;
}

.container_boton {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 90%;
  margin: 30px auto;
  margin-bottom: 30px;
}

.btn_salir {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6px;
  border: none;
  border-radius: var(--radio);
  background-color: var(--color-fondo-boton-editar);
  color: white;
  font-size: 18px;
  height: 35px;
  box-shadow: var(--sombra);
}

.icon_btn_salir {
  background-image: url(../icon/icon-salir-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}


@media (max-width:755px) {
  .modal {
    flex-basis: 55%;
  }

  .btn_actualizar_tarea {
    font-size: 14px;
  }

  .btn_cancelar_tarea {
    font-size: 14px;
  }
  .container_info_reciclaje{
    flex-basis: 80%;
  }
}

@media (max-width:752px) {
  .modal {
    flex-basis: 55%;
  }
  .container_info_reciclaje{
    flex-basis: 80%;
  }
}

@media (max-width:390px) {
  .modal {
    flex-basis: 80%;
  }

  .input::placeholder {
    font-size: 18px;
  }

  .textarea::placeholder {
    font-size: 18px;
  }

  .selector_categoria {
    font-size: 18px;
  }
}

@media (max-width:352px) {
  .modal {
    flex-basis: 80%;
  }

  .btn_actualizar_tarea {
    font-size: 14px;
  }

  .btn_cancelar_tarea {
    font-size: 14px;
  }
}

@media (max-width:355px) {
  .modal_editar_tarea {
    flex-basis: 80%;
  }

  .input::placeholder {
    font-size: 15px;
  }

  .selector_categoria::placeholder {
    font-size: 40px;
  }

}

@media (max-width:820px) {
  .modal_editar_tarea {
    width: 55%;
  }
  .modal_eliminar_tarea{
    width: 50%;
  }
  .container_titulos {
    width: 100%;
    margin: 40px auto;
  }
  .container_info_reciclaje{
    flex-basis: 80%;
  }
  .icon {
    background-size: 70%;
  }
}

@media (max-width:611px) {
  .app_menu {
    background-color: rgb(150, 146, 146);
  }
  .modal {
    flex-basis: 80%;
  }
  .container_info_reciclaje{
    flex-basis: 90%;
  }

  .fecha {
    text-align: center;
  }

  .seccion {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .formulario {
    gap: 20px;
  }

  .menu_slogan {
    margin-left: 15px;
  }

  .container_titulos {
    width: 90%;
    margin: 30px auto;
    justify-content: space-between;
  }
}

@media (max-width:375px) {
  .selector{
    font-size: 15px;
  }
  .btn {
    font-size: 15px;
  }
  .titulo{
    font-size: 15px;
  }
  
  .tarea_titulos_info {
    font-size: 11px;
  }

  .menu_slogan {
    font-size: 15px;
    margin-left: 15px;
  }

  .container_titulos {
    justify-content: space-around;
    width: 100%;
  }
  .descripcion{
    font-size: 13px;
  }
}
@keyframes animacionLogo {
  0% {
    transform: scale(.8);
  }
}
@media (max-width:440px) {
  .menu_administracion{
    top: 100%;
    width: 250px;
    right: 0px;
    height: 400px;
  }
  .container_botones_acciones{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .btn_acciones_menu_reciclaje{
  width: 73%;
  padding: 5px;
  }
}