*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,a{
  display: block;
  list-style-type: none;
  text-decoration: none;
}
:root{
  --border:1px solid black;
  --color:rgb(255, 255, 255);
  --color-fondo:#0707e9c7;
}
.app{
  display: flex;
  background-color: #ffffff;
  position: relative;
}
.aside{
  background-color: var(--color-fondo);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 18%;
  position: sticky;
  top: 0;
}
.logo{
  font-size: 40px;
  letter-spacing: 1.2px;
  color: var(--color);
  font-weight: bolder;
  width: 70%;
  margin: 0px auto;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color);
}
.nav{
  flex-basis: 300px;
  width: 100%;
  height: 200px;
}
.nav_lista{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon_btn{
  width: 30px;
  display: block;
  height: 30px;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon_todos{
  background-image: url(../icon/icon-todos.svg);
}
.icon_hamburguesa{
  background-image: url(../icon/icon-hamburguesa.png);
}
.icon_perro_caliente{
  background-image: url(../icon/icon-perro-caliente.png);
}
.icon_pizza{
  background-image: url(../icon/icon-pizza.png);
}
.btn{
  width: 91%;
  display: flex;
  border:1px solid var(--color);
  border-radius:8px ;
  background-color: transparent;
  color: var(--color);
  padding: 5px;
  font-size: 17px;
  cursor: pointer;
  gap: 8px;
  align-items: center;
  transition: all 0.3s;
}
.activo{
  background-color: var(--color); 
  color: var(--color-fondo);
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.3s;
}
.desactivar{
  display: none;
}

.aside_carrito{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.icon_carrito{
  width: 30px;
  display: block;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../icon/icon-carrito.svg);
}
.ir_carrito{
  display: flex;
  align-items: center;
  color: var(--color-fondo);
  cursor: pointer;
  gap: 7px;
  background-color: none;
  border: 1px solid var(--color);
  border-radius: 8px;
  padding: 5px;
}
.cantidad_productos{
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--color);
  width: 100%;
}

/* MAIN*/


main{
  width: 100%;
}
.main_titulo{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding:30px 50px;
}
.container_productos{
  width: 100%;
  display: grid;
  padding: 25px;
  gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(150px,200px));
}
.container_titulo{
  padding-left: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 1.3px;
}
.producto{
  background-color: var(--color);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--color-fondo);
  box-shadow: 1px 1px 3px 0px black;
}
.producto_imagen{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}
.producto_titulo{
  font-size: 22px;
  padding: 15px 15px;
  text-align: center;
}

/* MODAL AGREGAR AL CARRITO*/


.container_modal{
  position: fixed;
  z-index: 100;
  opacity: 0;
  transition: opacity 1s;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.487);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.mostrar_modal{
  opacity: 1;
  pointer-events: unset;
  transition: 1s;
}
.modal{
  background-color: rgba(0, 0, 255, 0.989);
  border-radius: 8px;
  padding: 30px;
  width: 60%;
  color: var(--color);
  box-shadow: 0px 0px 8px 0px;
  position: relative;
}
.modal_salir{
  display: block;
  border: 1px solid var(--color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px ;
}
.modal_titulo{
  width: 90%;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.modal_informacion{
  display: flex;
  width: 90%;
  height: 200px;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  margin: 0px auto;
  margin-bottom: 30px;
}
.modal_imgen{
  box-shadow: 0px 0px 6px 0px ;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  display: block;
}
.modal_texto{
  height: 100%;
  flex-basis: 60%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.modal_descripcion_producto{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1.1px;
}
.modal_precio_producto{
  font-size: 20px;
}
.btn_agregar_al_carrito{
  text-align: center;
  display: block;
  background-color: var(--color);
  color: var(--color-fondo);
  font-size: 15px;
  letter-spacing: 1.2px;
  border-radius: 8px;
  padding: 10px 0px;
  cursor: pointer;
}

/*MODAL CARRITO COMPRAS*/

.modal_carrito_titulo{
  margin: 30px;
  letter-spacing: 1.2px;
  text-align: center;
}
.c_productos{
  margin-bottom: 20px;
  font-size: 20px;
}
.modal_productos_carrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  border: 1px solid white;
  width: 100%;
  height: max-content;
  max-height: 300px;
  border-radius: 8px;
  padding: 10px ;
}
.producto_carrito{
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  align-items: center;
  padding: 0px 5px;
}
.producto_carrito_img{
  width: 100px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}
.container_info{
  text-align: center;
}
.btn_eliminar_producto_carrito{
  background-image: url(../icon/icon-eliminar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  height: 30px;
  border-radius: 8px;
  border: none;
  width: 40px;
  cursor: pointer;
}


.container_botones_carrito{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn_vaciar_carrito{
  align-self: stretch;
  padding: 6px;
  cursor: pointer;
  color: red;
  font-size: 16px;
  cursor: pointer;
  border: none;
  width: 20%;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.icon_vaciar_carrito{
  width: 30px;
  height: 30px;
  background-image: url(../icon/icon-eliminar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagar{
  display: flex;
  align-items: center;
  gap: 20px;
  width: max-content;
}
.pagar_info{
  text-align: center;
}
.pagar_titulo{
  font-size: 27px;
  letter-spacing: 1.1px;
}
.btn_ralizar_compra{
  align-self: stretch;
  padding: 6px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: green;
}
.icon_vaciar_realizar_compra{
  width: 30px;
  height: 30px;
  background-image: url(../icon/icon-comprar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}




