* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

:root {
  --color: black;
  --border-radio: 8px;
  --border: 2px solid black;
  --box-shadow: 2px 2px 3px 0px #000000;
}

.oscuro{
  background-color: black !important;
}
.footer_oscuro{
  color: white !important;
  border:1px solid white !important;
}
.card_imagen_oscuro{
  border: 1px solid white !important;
}
.color{
  color: white !important;
}
.color2{
  color: black !important;
}
.activo_oscuro{
  background-color: white !important;
  color: black !important;
}
.activo_claro {
  background-color: black !important;
  color: white !important;
  box-shadow: 2px 2px 3px 0px black !important;
}
.card_oscuro{
  box-shadow: 2px 2px 3px 0px rgba(255, 255, 255, 0.574) !important;
  background-color:rgba(0, 0, 0, 0.581) !important;
  color: white !important;
  border: 1px solid white !important;
}
.app {
  height: max-content;
  transition: 0.4s;
  background-color:white;
}

.header {
  width: 100%;
  height: max-content;
}

.header_info {
  display: flex;
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;

  align-items: center;
  height: 100px;
  gap: 20%;
  margin: 0px auto;
}

.header_logo {
  height: 100%;
  flex-basis: 10%;
  background-image: url(../img/logo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radio);
}

.header_titulo {
  color: var(--color);
  letter-spacing: 1.1px;
}
.container_temas{
  text-align: center;
}
.header_temas{
  width: max-content;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px ;
  margin-top: 10px;
}
.temas_icon{
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon_sol{
  background-image: url(../icon/sol.svg);
}
.icon_luna{
  background-image: url(../icon/luna.svg);
}



.nav {
  margin: 0px auto;
  width: 98%;
}

.nav_lista {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.nav_item {
  color: black;
  border-radius: var(--border-radio);
  cursor: pointer;
  border: 1px solid white;
  padding: 6px;
  transition: all .4s;
  letter-spacing: 1.2px;
}



.nav_item:hover {
  box-shadow: var(--box-shadow);
}

.container {
  width: 100%;
}

.productos {
  width: 98%;
  border: var(--border);
  margin: 0px auto;
  padding: 18px;
  border-radius: var(--border-radio);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-content: center;
  grid-gap: 20px;
}

.card {
  transition: 0.4s;
  padding: 10px;
  height: 340px;
  border: var(--border);
  text-align: justify;
  color: var(--color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radio);
}
.card:hover{
  transform: scale(.9);
}
.card_imagen {
  width: 100%;
  margin-bottom: 20px;
  height: 70%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radio);
}

.footer {
  border: var(--border);
  width: 100%;
  display: flex;
  border-radius: var(--border-radio);
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--color);
  height: 200px;
  padding-top: 10px;
  margin:auto;
  margin-top: 100px;
}
.info{
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info_icon{
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.youtube{
  background-image: url(../icon/youtube.svg);
}

.facebook{
  background-image: url(../icon/facebook.svg);
}
.info_icons{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}